<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.makeus.urirang.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".src.ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_app_urirang"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app_urirang"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:targetApi="n">

        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".src.login.social.SocialLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.login.email.EmailLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.login.find.FindPasswordCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.login.find.FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.login.info.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.login.signup.SignUpActivity"
            android:screenOrientation="portrait" />

        <!-- Main -->
        <activity
            android:name=".src.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.modifyProfile.ModifyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.myCommentPost.MyCommentPostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.myPost.MyPostsActivity"
            android:screenOrientation="portrait" />

        <!-- With You -->
        <activity
            android:name=".src.withYou.comment.WithYouCommentActivity"
            android:screenOrientation="portrait" />
        <!-- With All -->
        <activity
            android:name=".src.withAll.write.WithAllWriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".src.withAll.content.WithAllContentActivity"
            android:screenOrientation="portrait" />

        <!-- How About This-->
        <activity
            android:name=".src.howAboutThis.HowAboutThisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.howAboutThis.write.HowAboutThisWriteActivity"
            android:screenOrientation="portrait" />

        <!-- Hall of Fame-->
        <activity
            android:name=".src.hallOfFame.HallOfFameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".src.hallOfFame.content.HallOfFameContentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".src.testResults.TestResultsActivity"
            android:screenOrientation="portrait" />

        <!-- Kakao social login-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".src.fcm.FirebaseCloudMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>